i{
    font-size: 17px;
}

a{
    padding-bottom: 20px;
}

.color1{
    background: #f2f2f2;;

}


.size{
    padding-top: 10px;
    width: 57.5px;
    height: 100vh;
}

.side-link {
    display: block;
    padding: .5rem 1rem;
    color: rgb(163, 142, 142);
    text-decoration: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
    transition-property: color, background-color, border-color;
    transition-duration: 0.15s, 0.15s, 0.15s;
    transition-timing-function: ease-in-out, ease-in-out, ease-in-out;
    transition-delay: 0s, 0s, 0s;
}
