

*{
    overflow-x: hidden;
}

ul{
   list-style: none;
  
}

li{
    position: relative;
    left: 5px;
    padding-top: 20px;
}

i{
    font-size: 15px;
}
.color1{
    background:  #f2f2f2;

}

.size{
    padding-top: 20px;
    width: 90px;
    height: 100vh;
}
