*{
    overflow-x: hidden;
}



.row ul{
    list-style: none;
   
 }
 
 .row li{
     position: relative;
     padding-top: 20px;
     right: 15px;
 }
 
 .row i{
     font-size: 15px;
 }
 .color1{
     background:  #f2f2f2;
 
 }
 
 .size{
     padding-top: 20px;
     width: 80px;
     height: 100vh;
 }
 