<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="./stylesheets/userCreation.css">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <script src="./js/bootstrap.min.js"></script>
    <style>
        body{
          background-color:#fff;
        }
      </style>
    <title>Forgot your password?</title>
  </head>
  <body>
    <h3 class="text-center">Reset Password</h3>
    <div class="container-sm" id="formbox" style="box-shadow: 0 15px 30px 0 rgb(0 0 0 / 10%);">
        <form>
           <div class="mb-3">
            <label for="input" class="form-label">Enter your user account's  email address and we will send you a password reset link.</label>
            <input type="email" class="form-control" id="input" placeholder="Only@example.com">
           </div>
           <br>
           <br>
           <div class="mb-3 text-end">
               <button type="submit" class="btn" id="btn-color">Send password reset email</button>
           </div>
           <br>
        </form>
     </div>
  </body>
</html>