<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--NB:Dont remove the css and bootstrap links,
        put your styles within the head tag or create your personal css
        file within the public/stylesheet and link it like this href=/stylesheets/yourCssFile.css-->
        <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <title>Homepage</title>
</head>
<body>
      <!-- remove all html here and do your thing -->
    <h3>Dummmy content</h3>
    <buttton class="btn btn-success">test</buttton>
   Lorem ipsum dolor sit amet consectetur adipisicing elit. 
   Omnis fugit neque, eum modi molestiae explicabo harum, 
   doloribus architecto accusantium non, ea repudiandae 
   necessitatibus molestias. Ad eligendi voluptates incidunt nemo veniam? 

    <!-- Bootstrap core JS-->
    <script src="./js/bootstrap.min.js"></script>
</body>
</html>