<!DOCTYPE html>
<html>
    <head>
        <title>Task Creation Page</title>
        <title>simple form ui</title>
        <link rel="stylesheet" href="../stylesheets/TaskCreation.css">
        <link rel="shortcut icon" href="/assets/favicon.ico">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    </head>
    <body>

        <form action="/1/create-task" method="POST">
            <div class="wrapper">
                <div align='center'>
                 <img src="../images/InterraLogo.png">
                </div>
                
                 <h2 align='center'>CREATE TASK</h2>
                 <div class="form">
                    <!-- <i class="fa fa-clipboard icon" aria-hidden="true"></i> -->
                     <input type="text" name="title" class="input-text" id="myInput" placeholder="Task title">
                 </div><br>
     
                 <div class="form">
                     <!-- <i class="fa fa-users icon" aria-hidden="true"></i> -->
                     <input type="text" class="input-text" id="ourInput" i class="far fa-clipboard" placeholder="Assigned To">
                     <select id="users" class="select" name="assignedTo">
                         <option>To:</option>
                         <option value="Ebuka">Ebuka</option>
                         <option value="Tisha">Tisha</option>
                         <option value="Charles">Charles</option>
                         <option value="Ekene">Ekene</option>
                         <option value="Jude">Jude</option>
                     </select>
                 </div><br>
                 
                 <h5>Description of Work: </h5>
                 <hr>
                 <div>
                    <label>Start Date</label>
                    <input type="date" id="demo" min="2021-01-01" name="start_date">
                    <label>End Date</label>
                    <input type="date" id="demo" min="2021-04-06" name="end_date">
                </div>
                <div class="container">
                    <form1>
                        <div class="textarea_style">
                          <textarea rows="4" cols="60" class="textarea" id="textarea" name="description"  placeholder="Write your description here..."
                          maxlength="100" minlength="3"></textarea>
                        </div><br>
                        
                    </form1>
                </div><br>
                <div>
                    <label>Priority:</label>
                <select class="select" name="priority" style="float: none; padding: 0px 12px;">
                    <option value="1">High</option>
                    <option value="2">Medium</option>
                    <option value="3">Low</option>
                </select>
                </div>
                 <div>
                     <input type="submit" onclick="alert('submitted')">
                 </div>
                 
             </div>
         </body>
        </form>

    <script>
        var users = document.getElementById('users')
        users.addEventListener('change', function(){
            var val = this.options[this.selectedIndex].text;
            document.getElementById('ourInput').value += val+" ,"
        })
    </script>
</html>